@tailwind base;
@tailwind components;
@tailwind utilities;

$theme-colors: (
  "primary": #ccd5ae,
  "secondary": #d4a373,
  "tertiary": #283618,
  "info": #dda15e,
  "danger": #ff4136,
) !default;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Caprasimo", sans-serif;
  color: rgb(var(--foreground-rgb));
  height: 100%;
  width: 100%;
}

h1 {
  font-family: var(--font-caprasimo);
}
